.game-box {
	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(49, 45, 45);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(51, 51, 51);

	/* Box */
	height: 420px;
	width: 396px;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 0px;
	padding: 20px 0px 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(204, 200, 200) 1px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.game-box-inner {
	/* Font & Text */
	font-family: "Microsoft Yahei", "PingFang SC", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 16.1px;
	text-decoration: none solid rgb(51, 51, 51);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: transparent;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(51, 51, 51);

	/* Box */
	height: 330px;
	width: 356px;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 0px 20px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: hidden;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: content-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.game-icon {
	/* Color & Background */
	background-attachment: scroll;
	background-color: transparent;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(51, 51, 51);

	/* Box */
	height: 100px;
	width: 356px;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: content-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.game-icon-inner {
	/* Color & Background */
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("https://cdn.discordapp.com/attachments/881940252502155326/1106489808785780756/loading.gif");
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(51, 51, 51);

	/* Box */
	height: 100px;
	width: 100px;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 0px;
	padding: 0px;
	max-height: 100px;
	min-height: 0px;
	max-width: 100px;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: clip;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: content-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
}

.game-name {
	/* Font & Text */
	font-weight: 700;
	line-height: 20.7px;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Box */
	height: 20.6875px;
	width: 356px;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 0px;
	padding: 6px 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	box-sizing: content-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.desc {
	/* Font & Text */
	font-weight: 400;
	line-height: 19.6px;
	text-decoration: none solid rgb(51, 51, 51);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(51, 51, 51);

	/* Box */
	height: 19.5938px;
	width: 356px;
	border: ;
	border-top: 1px solid rgb(227, 229, 231);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
	margin: 5px 0px;
	padding: 7px 0px 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: content-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}